# Software Engineering for Data Scientists

## *Introduction to Python & Jupyter notebooks*

## Today's Objectives

#### 1. Opening & Navigating the Jupyter Notebook

#### 2. Simple Math in the Jupyter Notebook

#### 3. Loading data with ``pandas``

#### 4. Cleaning and Manipulating data with ``pandas``

## 1. Opening and Navigating the Jupyter Notebook

We will start today with the interactive environment that we will be using often through the course: the [Jupyter Notebook](http://jupyter.org).

We will walk through the following steps together:

1. Download [miniconda]() (be sure to get Version 3.5) and install it on your system (hopefully you have done this before coming to class)
   ```
   ```

2. Use the ``conda`` command-line tool to update your package listing and install the Jupyter notebook:

   Update ``conda``'s listing of packages for your system:
   ```
   $ conda update conda
   ```
   
   Install Jupyter notebook and all its requirements
   ```
   $ conda install jupyter
   ```
   
3. Navigate to the HCEPDB directory. For example:

   ```
   $ cd ~/Desktop/HCEPDB/
   ```
   
   Use curl to download the main lecture notebook and the simple breakout notebook:
   
   ```
   # you may skip this next step if you downloaded the file from your web browser
   $ curl -O https://uwdirect.github.io/SEDS_content/02.Python.ipynb
   
   ...
   $ curl -O https://uwdirect.github.io/SEDS_content/02.Simple_Breakout.ipynb
   ...
   
   $ ls
   ...
   02.Python.ipnyb
   02.Simple_Breakout.ipnyb
   ...
   ```

4. Type ``jupyter notebook`` in the terminal to start the notebook

   ```
   $ jupyter notebook
   ```
   
   If everything has worked correctly, it should automatically launch your default browser
   ```
   ```
   
5. Click on ``02.Python.ipnyb`` to open the notebook containing the content for this lecture.

With that, you're set up to use the Jupyter notebook!

## 2. Simple Math in the Jupyter Notebook

Now that we have the Jupyter notebook up and running, we're going to do a short breakout exploring some of the mathematical functionality that Python offers.

Please open [02.Simple_Breakout.ipynb](02.Simple_Breakout.ipynb), find a partner, and make your way through that notebook, typing and executing code along the way.

## 3. Loading data with ``pandas``

With this simple Python computation experience under our belt, we can now move to doing some more interesting analysis.

### Python's Data Science Ecosystem

In addition to Python's built-in modules like the ``math`` module we explored above, there are also many often-used third-party modules that are core tools for doing data science with Python.
Some of the most important ones are:

#### [``numpy``](http://numpy.org/): Numerical Python

Numpy is short for "Numerical Python", and contains tools for efficient manipulation of arrays of data.
If you have used other computational tools like IDL or MatLab, Numpy should feel very familiar.

#### [``scipy``](http://scipy.org/): Scientific Python

Scipy is short for "Scientific Python", and contains a wide range of functionality for accomplishing common scientific tasks, such as optimization/minimization, numerical integration, interpolation, and much more.
We will not look closely at Scipy today, but we will use its functionality later in the course.

#### [``pandas``](http://pandas.pydata.org/): Labeled Data Manipulation in Python

Pandas is short for "Panel Data", and contains tools for doing more advanced manipulation of labeled data in Python, in particular with a columnar data structure called a *Data Frame*.
If you've used the [R](http://rstats.org) statistical language (and in particular the so-called "Hadley Stack"), much of the functionality in Pandas should feel very familiar.

#### [``matplotlib``](http://matplotlib.org): Visualization in Python

Matplotlib started out as a Matlab plotting clone in Python, and has grown from there in the 15 years since its creation. It is the most popular data visualization tool currently in the Python data world (though other recent packages are starting to encroach on its monopoly).

### Installing Pandas & friends

Because the above packages are not included in Python itself, you need to install them separately. While it is possible to install these from source (compiling the C and/or Fortran code that does the heavy lifting under the hood) it is much easier to use a package manager like ``conda``. All it takes is to run

```
$ conda install numpy scipy pandas matplotlib
```

and (so long as your conda setup is working) the packages will be downloaded and installed on your system.

### Loading Data with Pandas

In [1]:
import numpy
numpy.__path__

['/Users/dacb/miniconda3/lib/python3.5/site-packages/numpy']

In [2]:
import pandas

In [3]:
df = pandas.DataFrame()

Because we'll use it so much, we often import under a shortened name using the ``import ... as ...`` pattern:

In [4]:
import pandas as pd

In [5]:
df = pd.DataFrame()

Now we can use the ``read_csv`` command to read the comma-separated-value data:

In [6]:
data = pd.read_csv('HCEPDB_moldata.csv')

*Note: strings in Python can be defined either with double quotes or single quotes*

### Viewing Pandas Dataframes

The ``head()`` and ``tail()`` methods show us the first and last rows of the data

In [7]:
data.head()

,id,SMILES_str,stoich_str,mass,pce,voc,jsc,e_homo_alpha,e_gap_alpha,e_lumo_alpha,tmp_smiles_str
0,655365,C1C=CC=C1c1cc2[se]c3c4occc4c4nsnc4c3c2cn1,C18H9N3OSSe,394.3151,5.161953,0.867601,91.567575,-5.467601,2.022944,-3.444656,C1=CC=C(C1)c1cc2[se]c3c4occc4c4nsnc4c3c2cn1
1,1245190,C1C=CC=C1c1cc2[se]c3c(ncc4ccccc34)c2c2=C[SiH2]...,C22H15NSeSi,400.4135,5.261398,0.504824,160.401549,-5.104824,1.630750,-3.474074,C1=CC=C(C1)c1cc2[se]c3c(ncc4ccccc34)c2c2=C[SiH...
2,21847,C1C=c2ccc3c4c[nH]cc4c4c5[SiH2]C(=Cc5oc4c3c2=C1...,C24H17NOSi,363.4903,0.000000,0.000000,197.474780,-4.539526,1.462158,-3.077368,C1=CC=C(C1)C1=Cc2oc3c(c2[SiH2]1)c1c[nH]cc1c1cc...
3,65553,[SiH2]1C=CC2=C1C=C([SiH2]2)C1=Cc2[se]ccc2[SiH2]1,C12H12SeSi3,319.4448,6.138294,0.630274,149.887545,-5.230274,1.682250,-3.548025,C1=CC2=C([SiH2]1)C=C([SiH2]2)C1=Cc2[se]ccc2[Si...
4,720918,C1C=c2c3ccsc3c3[se]c4cc(oc4c3c2=C1)C1=CC=CC1,C20H12OSSe,379.3398,1.991366,0.242119,126.581347,-4.842119,1.809439,-3.032680,C1=CC=C(C1)c1cc2[se]c3c4sccc4c4=CCC=c4c3c2o1

In [8]:
data.tail()

,id,SMILES_str,stoich_str,mass,pce,voc,jsc,e_homo_alpha,e_gap_alpha,e_lumo_alpha,tmp_smiles_str
2322844,2543603,[SiH2]1ccc2csc(c12)-c1sc(c2[SiH2]ccc12)-c1cnc(...,C22H14N4S3Si2,486.7506,0.000000,0.000000,0.000000,-5.632512,1.454082,-4.178430,c1sc(c2[SiH2]ccc12)-c1sc(c2[SiH2]ccc12)-c1cnc(...
2322845,2304057,[SiH2]1ccc2csc(c12)-c1sc(c2[SiH2]ccc12)-c1ccc(...,C22H14N4S3Si2,486.7506,9.335485,1.120744,128.197094,-5.720744,1.798600,-3.922144,c1sc(c2[SiH2]ccc12)-c1sc(c2[SiH2]ccc12)-c1ccc(...
2322846,2007035,[SiH2]1ccc2csc(c12)-c1sc(c2[SiH2]ccc12)-c1ccc(...,C26H18S3Si2,482.7982,2.498209,0.834995,46.046052,-5.434995,2.433160,-3.001835,c1sc(c2[SiH2]ccc12)-c1sc(c2[SiH2]ccc12)-c1ccc(...
2322847,1961981,C1ccc2c1c(sc2-c1scc2cc[SiH2]c12)-c1ccc(cc1)-c1...,C25H16S3SeSi,519.6454,2.679067,0.659243,62.544032,-5.259243,2.258468,-3.000775,c1sc(c2[SiH2]ccc12)-c1sc(c2Cccc12)-c1ccc(cc1)-...
2322848,2754558,[SiH2]1ccc2csc(c12)-c1sc(-c2sc(-c3scc4ccsc34)c...,C24H13NOS5Si,519.7887,1.272400,0.102802,190.489616,-4.702802,1.490950,-3.211851,c1sc(c2[SiH2]ccc12)-c1sc(-c2sc(-c3scc4ccsc34)c...

The ``shape`` attribute shows us the number of elements:

In [9]:
data.shape

(2322849, 11)

The ``columns`` attribute gives us the column names

In [10]:
data.columns

Index(['id', 'SMILES_str', 'stoich_str', 'mass', 'pce', 'voc', 'jsc',
       'e_homo_alpha', 'e_gap_alpha', 'e_lumo_alpha', 'tmp_smiles_str'],
      dtype='object')

The ``index`` attribute gives us the index names

In [11]:
data.index

RangeIndex(start=0, stop=2322849, step=1)

Let's make our ``id`` column the ``index``

In [12]:
data = data.set_index(['id'])

Now let's revisit the ``data.index``

In [13]:
data.index

Int64Index([ 655365, 1245190,   21847,   65553,  720918, 1310744,  196637,
             262174,  393249,      35,
            ...
            1703911, 1814506, 2559314, 2351086, 1712111, 2543603, 2304057,
            2007035, 1961981, 2754558],
           dtype='int64', name='id', length=2322849)

View it with head again:

In [14]:
data.head()

,SMILES_str,stoich_str,mass,pce,voc,jsc,e_homo_alpha,e_gap_alpha,e_lumo_alpha,tmp_smiles_str
id,,,,,,,,,,
655365,C1C=CC=C1c1cc2[se]c3c4occc4c4nsnc4c3c2cn1,C18H9N3OSSe,394.3151,5.161953,0.867601,91.567575,-5.467601,2.022944,-3.444656,C1=CC=C(C1)c1cc2[se]c3c4occc4c4nsnc4c3c2cn1
1245190,C1C=CC=C1c1cc2[se]c3c(ncc4ccccc34)c2c2=C[SiH2]...,C22H15NSeSi,400.4135,5.261398,0.504824,160.401549,-5.104824,1.630750,-3.474074,C1=CC=C(C1)c1cc2[se]c3c(ncc4ccccc34)c2c2=C[SiH...
21847,C1C=c2ccc3c4c[nH]cc4c4c5[SiH2]C(=Cc5oc4c3c2=C1...,C24H17NOSi,363.4903,0.000000,0.000000,197.474780,-4.539526,1.462158,-3.077368,C1=CC=C(C1)C1=Cc2oc3c(c2[SiH2]1)c1c[nH]cc1c1cc...
65553,[SiH2]1C=CC2=C1C=C([SiH2]2)C1=Cc2[se]ccc2[SiH2]1,C12H12SeSi3,319.4448,6.138294,0.630274,149.887545,-5.230274,1.682250,-3.548025,C1=CC2=C([SiH2]1)C=C([SiH2]2)C1=Cc2[se]ccc2[Si...
720918,C1C=c2c3ccsc3c3[se]c4cc(oc4c3c2=C1)C1=CC=CC1,C20H12OSSe,379.3398,1.991366,0.242119,126.581347,-4.842119,1.809439,-3.032680,C1=CC=C(C1)c1cc2[se]c3c4sccc4c4=CCC=c4c3c2o1

In [15]:
data.tail()

,SMILES_str,stoich_str,mass,pce,voc,jsc,e_homo_alpha,e_gap_alpha,e_lumo_alpha,tmp_smiles_str
id,,,,,,,,,,
2543603,[SiH2]1ccc2csc(c12)-c1sc(c2[SiH2]ccc12)-c1cnc(...,C22H14N4S3Si2,486.7506,0.000000,0.000000,0.000000,-5.632512,1.454082,-4.178430,c1sc(c2[SiH2]ccc12)-c1sc(c2[SiH2]ccc12)-c1cnc(...
2304057,[SiH2]1ccc2csc(c12)-c1sc(c2[SiH2]ccc12)-c1ccc(...,C22H14N4S3Si2,486.7506,9.335485,1.120744,128.197094,-5.720744,1.798600,-3.922144,c1sc(c2[SiH2]ccc12)-c1sc(c2[SiH2]ccc12)-c1ccc(...
2007035,[SiH2]1ccc2csc(c12)-c1sc(c2[SiH2]ccc12)-c1ccc(...,C26H18S3Si2,482.7982,2.498209,0.834995,46.046052,-5.434995,2.433160,-3.001835,c1sc(c2[SiH2]ccc12)-c1sc(c2[SiH2]ccc12)-c1ccc(...
1961981,C1ccc2c1c(sc2-c1scc2cc[SiH2]c12)-c1ccc(cc1)-c1...,C25H16S3SeSi,519.6454,2.679067,0.659243,62.544032,-5.259243,2.258468,-3.000775,c1sc(c2[SiH2]ccc12)-c1sc(c2Cccc12)-c1ccc(cc1)-...
2754558,[SiH2]1ccc2csc(c12)-c1sc(-c2sc(-c3scc4ccsc34)c...,C24H13NOS5Si,519.7887,1.272400,0.102802,190.489616,-4.702802,1.490950,-3.211851,c1sc(c2[SiH2]ccc12)-c1sc(-c2sc(-c3scc4ccsc34)c...

The ``dtypes`` attribute gives the data types of each column:

In [16]:
data.dtypes

SMILES_str         object
stoich_str         object
mass              float64
pce               float64
voc               float64
jsc               float64
e_homo_alpha      float64
e_gap_alpha       float64
e_lumo_alpha      float64
tmp_smiles_str     object
dtype: object

## 4. Manipulating data with ``pandas``

Here we'll cover some key features of manipulating data with pandas

Access columns by name using square-bracket indexing:

In [18]:
data['mass']

id
655365     394.3151
1245190    400.4135
21847      363.4903
65553      319.4448
720918     379.3398
1310744    454.4137
196637     404.2520
262174     444.2730
393249     396.3495
35         292.4328
1048612    290.4606
917542     489.1948
1441831    335.2668
1376296    443.5024
1638442    393.5445
98350      340.5204
2162747    429.6251
557119     258.3186
753728     336.4684
819265     459.5774
1278019    394.6522
2096063    509.5136
2752585    412.5660
1572945    389.3786
2359381    434.5416
1540183    455.2999
1638500    385.3226
2621542    368.4770
98411      402.3777
524398     393.5445
             ...
2705444    483.7863
2925216    520.7728
2742210    520.7728
3092419    485.7625
1253317    427.6983
1841096    467.7193
2770889    467.7113
1816522    472.7514
1810382    467.7193
1648591    504.7058
2705360    503.7217
2349009    471.7753
3091107    534.8756
8152       508.4810
1781722    472.7634
2470223    535.8557
2469856    501.7495
1912803    504.7058
1216485    408.6768
2619366    448.6840
1703911    465.7471
1814506    472.7634
2559314    473.7475
2351086    484.7744
1712111    536.8398
2543603    486.7506
2304057    486.7506
2007035    482.7982
1961981    519.6454
2754558    519.7887
Name: mass, dtype: float64

Mathematical operations on columns happen *element-wise* (note 18.01528 is the weight of H2O):

In [19]:
data['mass'] / 18.01528

id
655365     21.887814
1245190    22.226327
21847      20.176778
65553      17.731881
720918     21.056559
1310744    25.223793
196637     22.439396
262174     24.660899
393249     22.000740
35         16.232487
1048612    16.123013
917542     27.154438
1441831    18.610135
1376296    24.618124
1638442    21.845039
98350      18.901755
2162747    23.847817
557119     14.338861
753728     18.676834
819265     25.510422
1278019    21.906526
2096063    28.282303
2752585    22.900893
1572945    21.613797
2359381    24.120724
1540183    25.272985
1638500    21.388655
2621542    20.453582
98411      22.335356
524398     21.845039
             ...
2705444    26.854220
2925216    28.907283
2742210    28.907283
3092419    26.963916
1253317    23.740863
1841096    25.962366
2770889    25.961922
1816522    26.241690
1810382    25.962366
1648591    28.015429
2705360    27.960803
2349009    26.187509
3091107    29.690108
8152       28.224985
1781722    26.242356
2470223    29.744511
2469856    27.851330
1912803    28.015429
1216485    22.685010
2619366    24.905747
1703911    25.852893
1814506    26.242356
2559314    26.296982
2351086    26.909068
1712111    29.799137
2543603    27.018764
2304057    27.018764
2007035    26.799373
1961981    28.844703
2754558    28.852657
Name: mass, dtype: float64

Columns can be created (or overwritten) with the assignment operator.
Let's create a *mass_ratio_H2O* column with the mass ratio of each molecule to H2O

In preparation for grouping the data, let's bin the molecules by their molecular mass. For that, we'll use ``pd.cut``

### Simple Grouping of Data

The real power of Pandas comes in its tools for grouping and aggregating data. Here we'll look at *value counts* and the basics of *group-by* operations.

#### Value Counts

Pandas includes an array of useful functionality for manipulating and analyzing tabular data.
We'll take a look at two of these here.

The ``pandas.value_counts`` returns statistics on the unique values within each column.

We can use it, for example, to break down the molecules by their mass group that we just created:

What happens if we try this on a continuous valued variable?

We can do a little data exploration with this to look 0s in columns.  Here, let's look at the power conversion effeciency (``pce``)

### Group-by Operation

One of the killer features of the Pandas dataframe is the ability to do group-by operations.
You can visualize the group-by like this (image borrowed from the [Python Data Science Handbook](http://shop.oreilly.com/product/0636920034919.do))

In [ ]:
from Jupyter.display import Image
Image('split_apply_combine.png')

Let's break take this in smaller steps.
Recall our ``mass_group`` column.

groupby allows us to look at the number of values for each column and each value.

Now, let's find the mean of each of the columns for each ``mass_group``.  *Notice* what happens to the non-numeric columns.

You can specify a groupby using the names of table columns and compute other functions, such as the ``sum``, ``count``, ``std``, and ``describe``.

The simplest version of a groupby looks like this, and you can use almost any aggregation function you wish (mean, median, sum, minimum, maximum, standard deviation, count, etc.)

```
<data object>.groupby(<grouping values>).<aggregate>()
```

You can even group by multiple values: for example we can look at the LUMO-HOMO gap grouped by the ``mass_group`` and ``pce``.

## 5. Visualizing data with ``pandas``

Of course, looking at tables of data is not very intuitive.
Fortunately Pandas has many useful plotting functions built-in, all of which make use of the ``matplotlib`` library to generate plots.

Whenever you do plotting in the Jupyter notebook, you will want to first run this *magic command* which configures the notebook to work well with plots:

In [ ]:
%matplotlib inline

Now we can simply call the ``plot()`` method of any series or dataframe to get a reasonable view of the data:

### Other plot types

Pandas supports a range of other plotting types; you can find these by using the <TAB> autocomplete on the ``plot`` method: